body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Roboto', sans-serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

/*--header--*/
.logo {
	position: absolute;
	width: 100px;
	right: 10px;
	top: 72px;
	z-index: 2;
}
.navbar-header h1 {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.navbar-header h1 img {
    margin-right: 0.3em;
}
.navbar-header h1 a {
    color: #FFF;
    text-decoration: none;
    display: block;
    background: #E64B3B;
    padding: .71em 1em;
	font-weight: 600;
}
.navbar-header h1 a span {
    font-size: .3em;
    display: block;
    letter-spacing: 8px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:none !important;
}

/*--top-nav--*/
.navbar-nav li a {
	font-size: 1.2em;
	line-height: inherit;
	padding: 10px 25px;
	color: #999 !important;
	font-weight: 300;
}
.navbar-nav li a.active{
	color:#3c6fb7!important;
}
.navbar-nav li:hover a:before{
	bottom: 0%;
}
.navbar-nav  li.active a, .navbar-nav  li.active1 a.dropdown-toggle,.navbar-nav li a:hover {
    color: #3c6fb7!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}
div#bs-example-navbar-collapse-1 {
  padding: 0;
    margin-bottom: 5px;
    margin-top: 15px!important;
    margin-right: 25px
}
nav.navbar.navbar-default {
    background: none;
    border: none;
	margin-bottom: 0;
}

.cambio_idioma{
	float: left;	
	font-size: 0.85em;	
}
.cambio_idioma_menu{	
	list-style: none;
	margin-left: 9px;
	font-weight: bold;
	margin-top: 19px;
	text-align: center;	
}
.cambio_idioma_menu p{	
	color: #3c6fb7!important;
	text-decoration:none;   
}
.cambio_idioma_menu a{	
	color: #32367b!important;
	text-decoration: underline;   
}
.cambio_idioma_menu a:hover{	
	color: #3c6fb7!important;
	text-decoration: underline;   	
}

.header-right {    	
		}
.top-nav-text {	
	margin-top: 25px!important;
	margin-right: 10px!important;
	margin-left: -65px;
	position: relative;
	float: left;
}
.top-nav-text p {
    font-size: 0.95em;    
}

/* Effect 14: border switch */
.cl-effect-14 a {
	height:45px;
}
.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #3c6fb7;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}
.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
}
.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after,
.cl-effect-14 a.active::before,
.cl-effect-14 a.active::after {
	-moz-opacity: 1;
	opacity: 1;
}
.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before,.cl-effect-14 a.active::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
	-o-transform: rotate(0deg) translateX(-50%);
	-ms-transform: rotate(0deg) translateX(-50%);
}
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after,.cl-effect-14 a.active::after{
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
	-o-transform: rotate(0deg) translateX(50%);
	-ms-transform: rotate(0deg) translateX(50%);
}
/*--//top-nav--*/
/*--//header--*/

/*--banner--*/
.banner {
	background: url(../images/1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	/*min-height: 650px;*/
	
	
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text {
	padding: 14em 0;
	text-align: center;
}
.banner-text h2,.banner-text h3{
	font-size: 3.6em;
	color: #32367b;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #fff;
}
.banner-text h4 {
	color: #fff;
	margin: 1.5em 0;
	font-size: 1.3em;
	font-weight: 100;
}
.more a {
	font-size: 1em;
	color: #32367b;
	padding: 0.8em 2em;
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	display: inline-block;	
	background: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px solid #fff;
	height: 3em;
	margin-top: 10px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 5px;
}
.more a:hover{
	background:transparent;
	color: #fff;
}
/*--banner-modal--*/
.modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
}
.modal.bnr-modal {
	padding: 0 1em !important;
}
.modal-body {
    padding: 2em;
}
.modal-dialog {
    margin: 4em auto 0;
}
.bnr-modal .modal-header {
    border: none;
    min-height: 2.5em;
    padding: 1em 2em 0;
}
.bnr-modal button.close {
    color: #32367b;
    opacity: .9;
    font-size: 2.5em;
}
.modal-body p {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
}
/*--//banner-modal--*/
/*--Slider Part starts Here--*/
#slider2,
#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.callbacks_container {
/*-- agileits --*/
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 45%;
    left: 6%;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 53px;
    width: 32px;
    background: url("../images/icons.png") no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background-position: right;
    right: 5%;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_tabs li {
    display: inline-block;
    margin: 0 .6em;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	z-index: 999;
	bottom: 40%;
	left: 42.6%;
	padding: 0;
	margin: 0;
}
.callbacks_tabs a {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #32367b;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    font-size: 0;
}
.callbacks_tabs a:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -5px;
    left: -5px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
    transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
    transition: .5s all;
}
.callbacks_here a:after{
border-color: #32367b;    
		background: #3c6fb7;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
    transform: scale(1);
	-ms-transform: scale(1);
}
/*--//Slider part Ends Here --*/
/*--//banner--*/

/*--about--*/
.about,.team-info,.services,.skills{
	padding:6em 0;
}
.about{	
	background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(../images/slid.jpg);
}
.about-info {
    background: rgba(0, 0, 0, 0.9);
}
h3.title {
    font-size: 4em;
    text-align: center;
    color: #3c6fb7;
    font-weight: 200;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
		text-shadow: 3px 3px 5px #000;
}
h3.title span{
	color: #32367b;    
	text-shadow: 3px 3px 3px #f2f2f2;
	font-weight: bolder;
}
.titulo_destacado{	
	text-shadow: 3px 3px 3px #020202!important;	
	letter-spacing: 2px;
}
h3.title:before {
    content: '';
    width: 80px;
    height: 5px;
    background: #32367b;
    position: absolute;
    bottom: 0;
    left: 46%;
    display: block;
}
.about-text {
    text-align: center;
}
.about-text  h4 {
	font-size: 1.7em;
	color: #fff;
	margin-bottom: 0.4em;
}
.about-text p {
	font-size: 1.4em;
	color: #e6e6e6;
	line-height: 1.8em;
}
/*--//about--*/

/*--team--*/
.salto_de_linea {
	padding-bottom: 20px;
}
.team{	
    
}
.team-info {
  
}
.team-grids .team-img {
	overflow: hidden;
	position: relative;
	display: block;
}
.captn h4 {
    color: #fff;
    font-size: 1.7em;
    margin-top: -27px;
}
.captn p {
    font-size: 1em;
    margin-top: 0.5em;
	color:#fff;
	line-height:1.8em;
}
.team-grids .captn {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    right: 0;
    background-color: rgba(123, 104, 238, 0.75);
    text-align: center;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.captn-top {
    padding: 20% 5%;
}
.team-img:hover .captn {
	width: 100%;
	bottom: 0%;
}
img.img-responsive {
    width: 100%;
}
/*--social-icons--*/
.team .social-icons {
    background: #7B68EE;
    padding: 1.4em 0 0.8em;
}
.social-icons ul{
	display:inline-block;
	padding: 0;
}
.social-icons ul li {
    position: inherit;
    display: inline-block;
    width: inherit;
}
.social-icons ul li:nth-child(2) {
    margin: 0 .5em;
}
.social-icons ul li a {
    background: url(../images/social-icons.png) no-repeat 0px 0px;
    display: block;
    height: 41px;
    width: 41px;
    background-color: rgba(224, 79, 15, 0.35);
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
}
.social-icons ul li a:hover {
    background-color: #32367b;
}
.social-icons ul li a.gp {
    background-position: 2px -95px;
}
/*--//social-icons--*/
/*--//team--*/

/*--services--*/
.services-left {
	float: left;
	width: 30%;
	background: #3c6fb7;
	text-align: center;
	padding: 2.9em 0;
	border: 2px solid #3c6fb7;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}
i.fa {
    font-size: 3.4em;
    color: #fff;
}
.services-right {
	float: right;
	width: 70%;
	border: 1px solid #3c6fb7;
	border-left: none;
	padding: 1.5em;
}
.services-right h4 {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 0.5em;
}
.services-right p {
	font-size: 1.2em;
	color: #32367b;
	margin-bottom: 0.5em;
}
.services-grids:hover .services-left {
	background: none;					
}
.services-grids:hover .services-right {	
	background-color: #3c6fb7;
	color: #fff;	
	border: 1px solid #3c6fb7;
	border-left: none;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;	
}
.services-grids:hover .services-right h4, .services-grids:hover .services-right p{	
	color: #fff;
}
.services-grids:hover i.fa{
	color: #3c6fb7;
}
.services-info.services-row2 {
	margin-top: 3.5em;
}
/*--//services--*/

/*-- (TRABAJA CON NOSOTROS) team section --*/
section.our-team {
	padding: 0 0 20px 0;	
	text-align:center;			
}
section.our-team h3.text-center {
	font-size:40px;
	font-weight:normal;
	padding:30px 0;
	color:#619AB1;	
	font-family: 'Montserrat', sans-serif;
}
section.our-team p.text-center {
	font-size:17px;
	color:#619AB1;
	font-weight:300;
	padding-bottom: 40px;
	line-height:25px;	
	margin-left: 120px;
	margin-right: 120px;
}
section.our-team p a {
	font-size:17px;
	color:#37B7E6;
	font-weight:400;	
	text-decoration: none;
}
section.our-team p a:hover{
	color:#2E505A;	
}
section.our-team p.enfasis {
	font-size: 27px;
	color:#619AB1;
	font-weight:300;
	padding-bottom: 40px;
	line-height:25px;
}
.contenedor_imagenes {	
	margin: 0 auto;
	width: 60%;		
	overflow: hidden;
}
.derecha{
	width: 50%;
	height: 440px;
	float: right;
	padding: 5px 5px 5px 0;	
}
.derecha:hover, .arriba:hover, .abajo:hover {
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
	-webkit-transition: 0.5s all;
}
.arriba{
	width: 50%;
	padding: 5px 5px 0 5px;
}
.abajo{
		width: 50%;
		padding: 5px;
}
.view {
	width: 55%;
	height: 55%;
	margin: 10px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;	
}
.view .mask,.view .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
	display: block;
	width: 100%;
	position: relative;
}
.view h4 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 27px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.69);
	margin-top: 6px;	
}
.view a.info {
	margin-top: 32px;	
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	font-size: 27px;
	font-weight: 200;
	background: rgba(0, 0, 0, 0.69);
	width: 100%;
	color: #fff;
	-webkit-box-shadow: 0 0 1px #000;
	-moz-box-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
}
.view a.info: hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
/*-- /team section --*/


/*--portfolio--*/
.portfolio-grids {
    padding: 0;
}
/*--SAP--*/
.sap_tabs{
	clear:both;
	padding: 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    padding: 0 0 3em;
    margin: 0 auto;
    text-align: center;
}
.resp-tab-item {
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
	border-bottom: 2px solid #fff;
}
.resp-tab-active {
    text-shadow: none;
    color: #3c6fb7;
    border-bottom-color: #3c6fb7;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.tab_img{
	padding:2em 0 0;
	display: inline-block;
}
.portfolio-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
.portfolio-grids img.img-responsive {
    width: 100%;
}
.b-wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
    transition: .5s all;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
    transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}
.portfolio-grids a:hover .b-wrapper{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
    transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
.b-wrapper h5 {
    font-size: 3.5em;
    color: #fff;
    text-align: center;
    padding: 43% 0;
    font-weight: 200;
}
img.zoom-img{
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: 2s !important;
	-moz-transition-duration: 2s !important;
	transition-duration: 2s !important;
}
img.zoom-img:hover,.portfolio-grids:hover img.zoom-img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	overflow: hidden;
}
/*--//portfolio--*/

/*--skills--*/
.skills{
	position:relative;
}
.skill-info {
    margin-top: 5em;
    text-align: center;
}
.skills ul li {
    display: inline-block;
	margin: 0 1.5em;
}
.skills p {
    font-size: 1.3em;
    color: #555;
    margin-top: 0.5em;
    font-weight: 300;
}
/*--//skills--*/

/*--contact--*/
.contact{
	background: url(../images/slid.jpg)no-repeat center 0px fixed;
	background-size: cover;	
}
.contact-form {
    text-align: center;
}
.contact-form p {
    width: 60%;
    margin: 1.5em auto 3em;
    text-align: center;
    color: #fff;
}
.contact input[type="text"] {
    width: 24.5%;
    color: #fff;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 0.8em;
    border: solid 2px #fff;
    -webkit-appearance: none;
    display: inline-block;
}
.contact  input.email {
    margin: 0 0.5em;
}
.contact select {
		width: 24.5%;
    color: #fff;
    float: left;
    background-color: transparent;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 0.8em;
    border: solid 2px #fff;    
    display: inline-block;    
		margin-left: 0.5em;
}
.contact select option{				
		color: #fff;
		background-color: rgba(191, 191, 191, 0.9);
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    border: solid 2px #fff;    
    display: inline-block;    		
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 2px #fff;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.7em 5em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #3c6fb7;
    transition: 0.5s all;
    border: 2px solid #3c6fb7;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact  input[type="submit"]:hover {
    background: none;
    color: #fff;
}
.contact  input[type="submit"]:focus {
	background: none;
	color: #fff;
	border: solid 1px #32367b;
}
.contact textarea:focus{
	background: none;	
	border: solid 1px #fff;	
}
.contact select:focus{
	background: none;
	color: #fff;
	border: solid 1px #fff;	
}
.contact input[type="text"]:focus{
	background: none;
	color: #fff;
	border: solid 1px #fff;	
}

::-webkit-input-placeholder {
	color:#fff !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#fff !important; 
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#fff !important;
}
:-ms-input-placeholder {  
	color:#fff !important;
}
/*--//contact--*/

/*--map--*/
.map-left {
    padding: 0;
}
.map iframe {
    width: 100%;
    min-height: 362px;
    border: none;
}
.map-right {
	background: #fff;
	padding:4em 4em 0em 4em;
	text-align: center;
}
.map-right h4 {
    font-size: 2em;
    color: #3c6fb7;
    font-weight: 500;
}
.map-right p {
	color: #3c6fb7;
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 100;
	margin: 1.5em 0 1em;
}
.map-right p a{
    color: #3c6fb7;
	font-size: 1.1em;
}
.map-right p a:hover{
    color:#32367b;
}
.map .social-icons {
	margin-top: 1.1em;
	margin-bottom: 0em;	 
}
.map .social-icons ul li:nth-child(3){
	margin-right:.5em;
}
.logo_waze{
	width: 10%;
}
/*--//map--*/

/*--footer--*/
.footer {
	padding: 2em 0;
	text-align: center;
	background: #32367b;
}
.footer p {
	color: #fff;
}
.footer p a{
	color: #4d82cb;	
}
.footer p a:hover{
	color: #fff;
}
/*--//footer--*/

/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	left: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
	z-index:999;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--//slider-up-arrow--*/

/*---- responsive-design -----*/
@media(max-width:1440px){
.banner {
    min-height: 590px;
}
}
@media(max-width:1366px){
.reducir{
	margin-left: 150px;
	margin-right: 150px;
}
.banner-text {
    padding: 13em 0 5em 0;
    text-align: center;
}
.banner-text h2, .banner-text h3 {
    font-size: 4em;
}
.about, .team-info, .services, .skills {
    padding: 5em 0 2em 0;
}
}
@media(max-width:1280px){
.cambio_idioma_menu {
	margin-left: -58px;
}
.navbar-header h1 {
    font-size: 2.8em;
}
.top-nav-text {
    margin: 1.5em 0 -50px;
}
.banner {
    min-height: 570px;
}
.banner-text h2, .banner-text h3 {
	font-size: 4em;
	font-weight: 800;
}
h3.title {
    margin-bottom: 0.8em;
}
.map-right {
    padding: 4em 3em 0 3em;
}
}
@media(max-width:1080px){
/*cambios*/
.cambio_idioma_menu {
	margin-left: -50px;    
}
.captn h4 {	
	font-size: 1.4em;	
	margin-top: -37px;
}
.more a {
	padding: 0.5em 1em;
	height: 2.4em;
}
.salto_de_linea {
	padding-bottom: 20px;
}
.about-text p {
	font-size: 1.2em;	
}
.logo {	
	float: left;
	margin-left: -60px;
}
.top-nav-text {	
	margin-top: 25px!important;
	margin-left: 10px;
}
div#bs-example-navbar-collapse-1 {  
	margin-bottom: 5px;
	margin-top: 15px!important;
	margin-right: -60px;
}
.services-right {	
height: 133px;	
}
.services-right h4 {
	font-size: 1.2em;	
}
.services-right p {
	font-size: 1em;	
}
.navbar-nav li a {    
    padding: 10px 15px;    
		font-size: 1.1em;
}
/*cambios*/

.navbar-header h1 {	
    font-size: 2.6em;		
}
.banner-text h2, .banner-text h3 {
    font-size: 2.8em;
}
.banner {
    min-height: 530px;
}
.banner-text {
    padding: 11em 0;
}
.callbacks_tabs {
    left: 41%;
}
.team-grids {
    
}
h3.title {
    font-size: 3.6em;
}
.about, .team-info, .services, .skills {
    padding: 4em 0;
}
.captn-top {
    padding: 22% 6%;
}
.contact input[type="text"] {
    width: 24.3%;
}
.b-wrapper h5 {
    font-size: 3em;
    padding: 41% 0;
}
.modal-dialog {
    margin: 1em auto 0;
}
.map-right {
    padding: 1.8em 2.5em;
}
}
@media(max-width:1024px){
.cambio_idioma_menu {
	margin-left: -25px;
}	
/*cambios*/
.salto_de_linea {
	padding-bottom: 20px;
}
.modal-dialog {
	width: 450px;	
}
.logo {	
	margin-left: -30px;
	margin-top: 5px;
}
.top-nav-text {	
	margin-top: 25px!important;
	margin-left: 36px;		
	font-size: 0.9em;
}
div#bs-example-navbar-collapse-1 {  
	margin-bottom: 5px;
	margin-top: 15px!important;
	margin-right: -35px;
}
.services-right {	
height: 133px;	
}
.services-right h4 {
	font-size: 1.2em;	
}
.services-right p {
	font-size: 1em;	
}
/*cambios*/

.banner {
    min-height: 495px;
}
.banner-text {
    padding: 10em 0;
}
.banner-text h4 {
    margin: 1.3em 0;
    font-size: 1.2em;
}
.map-right {
    padding: 1.2em 2em;
}
}
@media(max-width:991px){
.cambio_idioma_menu {
	margin-left: -170px;
}
.top-nav-text {
	margin-left: -48px;
}
/*cambios*/
.contact input[type="submit"]{
	width: 100%;
}
.logo_waze {
   width: 6%;
}
.salto_de_linea {
	padding-bottom: 20px!important;
}
.logo {	
	margin-left: -120px;
}
.reducir {
	margin-left: 0px;
	margin-right: 0px;
}
div#bs-example-navbar-collapse-1 {  
	margin-bottom: 5px;
	margin-top: 15px!important;
	margin-right: -130px;
}
.services-right {	
height: 133px;	
}
.services-right h4 {
	font-size: 1.2em;	
}
.services-right p {
	font-size: 1em;	
}
.navbar-nav li a {    
	padding: 10px 10px;    
	font-size: 1.1em;
}
/*cambios*/
.about, .team-info, .services, .skills {
    padding: 3.5em 0;
}
p {
    font-size: 1em;
}
.about-text h4 {
    margin-bottom: 0.5em;
}
.team-grids {
    padding: 0 .3em;
    float: left;
    width: 33%;
}
.captn h4 {
    font-size: 1.5em;
}
.social-icons ul li a {
    background-position:  0px 0px;
    display: block;
    height: 32px;
    width: 32px;
    background-size: 125%;
}
.captn-top {
    padding: 25% 6%;
}
.team .social-icons {
    padding: 1em 0 0.7em;
}
.social-icons ul li a.fb {
    background-position: -1px -41px;
}
.social-icons ul li a.gp {
    background-position: 1px -80px;
}
h3.title {
    font-size: 3.3em;
}
.services-grids {
    float: left;
    width: 50%;
    padding: 0 0.5em;
}
.services-right {
    float: right;
    width: 70%;
    padding: 0.8em 1em;
}
.portfolio-grids {
    padding: 0;
    float: left;
    width: 25%;
}
.b-wrapper h5 {
    font-size: 2.5em;
    padding: 38% 0;
}
.contact input[type="text"] {
    width: 24.1%;
}
.map iframe {
    min-height: 300px;
}
.map-right {
    padding: 2em;
}
.social-icons ul li a.drb {
    background-position: 0px -120px;
}
}
@media(max-width:800px){
	/*cambios*/
.cambio_idioma_menu {
	margin-left: -36px;
	font-size: 0.8em;
}
.logo {
	margin-left: -35px;		
	margin-top: 0px;
	width: 64px;
}
.about-text p {
	font-size: 1em;
}
.modal-body p {	
	font-size: 0.9em;	
}
.header-right {
  float: right;
  margin-top: 0px;
	font-size: 14px;
	margin-right: 40px;
}
.top-nav-text {	
	margin-top: 25px!important;
	margin-left: 7px;
	font-size: 0.75em;
}
div#bs-example-navbar-collapse-1 {  
	margin-bottom: 5px;
	margin-top: 15px!important;
	margin-right: -70px!important;
	font-size: 0.9em;
}
.services-right {	
height: 133px;	
}
.services-right h4 {
	font-size: 1.2em;	
}
.services-right p {
	font-size: 1em;	
}
.navbar-nav li a {    
	padding: 10px 5px;    	
}
/*cambios*/
.banner {
    min-height: 440px;
}
.banner-text {
    padding: 8em 0;
}
.callbacks_tabs {
    left: 38%;
}
.modal-body {
    padding: 1.5em;
}
.bnr-modal .modal-header {
    min-height: 2.5em;
    padding: 0.8em 1.5em 0;
}
}
@media(max-width:767px){
.cambio_idioma {
	margin-left: -55px;
}
.navbar {
	min-height: 74px;
}
	/*cambios*/
.cambio_idioma_menu {
	margin-left: -1056px!important;
	margin-top: 28px;	
}
.logo {
	width: 85px;	
	margin-left: 23em;
	margin-top: 22px;
}
.callbacks_tabs {
    left: 37%;
}
.top-nav-text {	
	margin-top: 50px!important;	
	margin-left: -19px!important;			
	font-size: 12px;
}
div#bs-example-navbar-collapse-1 {	
	background: #fff;
	margin-top: 45px!important;
	padding: 0;
	position: absolute;
	width: 95%;
	z-index: 9999;
	text-align: center;
}
/*cambios*/

.header-right {
    float: none;
}
.navbar-toggle {  
	z-index: 9;
	
}
.top-nav-text {

}
.top-nav-text p {
    margin-left: 14em;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3c6fb7;
}
.navbar-default .navbar-toggle {
    border-color: #3c6fb7;
		position: absolute;
    margin: 7px 0 0 345px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-header h1 a {
  display: inline-block;
	background: none;
}
.top-nav ul li {
    display: block;
	margin: .5em 0;
}
.top-nav ul li a {
    padding: 5px 0;
}
ul.nav.navbar-right {
  text-align: center;
}
.navbar-right .dropdown-menu {
  min-width: 100%;
  position: relative;
	text-align:center;
}
}
@media(max-width:736px){
.modal-dialog {
	margin: 0.1em auto 0;
}
.navbar-default .navbar-toggle {
    position: absolute;
    margin: 7px 0 0 331px;    
}
.banner-text h3 {
	font-size: 2.2em;
}
.contact input[type="text"] {
    width: 49.35%;		
}
.contact input.email {
    width: 49.35%;
		margin: 0 0 0.8em 0.5em;		
}
.contact select{
	  width: 49.35%;		
		margin: 0 0 0.8em 0.5em;		
}
.contact input[type="submit"]{
	  width: 100%;
}
}
@media(max-width:640px){
.top-nav-text p {
	margin-left: 11em;
}
.cambio_idioma_menu {
	margin-left: -969px!important;	
}
/*cambios*/
.callbacks_tabs {
  left: 34.43%;
}
.navbar-default .navbar-toggle {
	position: absolute;
	margin: 7px 0 0 280px;
}
.logo {	
	margin-left: 18em;
	width: 80px;
}
.top-nav-text {		
	margin-right: 20px!important;
	margin-left: -40px!important;			
}
/*cambios*/
.navbar-header h1 a {
    padding: .5em 1em;
}
.navbar-nav {
    margin: 1.5em;
}
.banner-text h2, .banner-text h3 {
    font-size: 2.2em;
}
.banner {
  min-height: 330px;
}
.about, .team-info, .services, .skills {
    padding: 3em 0;
}
h3.title {
    font-size: 3em;
	margin-bottom: 0.6em;
}
h3.title:before {
    width: 60px;
    height: 3px;
    left: 44%;
}
.about-text h4 {
    font-size: 1.3em;
}
.team-grids {
    padding: 0 2em;
    float: left;
    width: 50%;
    
}
.captn-top {
    padding: 21% 6%;
}
.services-right h4 {
	font-size: 1.1em;
}
.services-right {
    padding: 0.95em 1em;
}
.resp-tabs-list {
    padding: 0 0 1.5em;
}
.b-wrapper h5 {
    font-size: 2em;
    padding: 37% 0;
}
.skills ul li {
    margin: 0 1em;
}
.skills p {
    font-size: 1.2em;
}
.contact input.email {	
	width: 49.3%;
}
.contact input[type="text"] {
	width: 49.3%;	
}
.contact select {
	width: 49.3%;	
}
.contact input[type="submit"] {
	padding: 0.6em 5em;
	font-size: 1em;
}
.contact textarea {
    min-height: 9em;
}
.resp-tab-item {
    font-size: 1em;
    margin: 0 1em 0;
}
.skill-info {
    margin-top: 0;
}
.map iframe {
    min-height: 250px;
}
.map-right p {
    margin: 0.8em 0 1em;
}
.map .social-icons {
    margin-top: 1em;
}
}
@media(max-width:600px){
.top-nav-text p {
	margin-left: 124px;
	font-size: 11px;
}
.cambio_idioma_menu {
	margin-left: -934px!important;
}
.navbar-default .navbar-toggle {
	position: absolute;
	margin: 7px 0 0 258px;
}
.team-grids {
	padding: 0 3em;
	float: left;
	width: 50%;
	margin-top: 1em;
}
.top-nav-text {		
	margin-right: 60px!important;
	margin-left: -87px!important;			
}
.services-right h4 {
    font-size: 1.1em;
}
.services-right p {
    font-size: 1em;
}
.services-right {
    padding: 0.5em 0.5em;
}
.team-grids {
    padding: 0 2em;
}
.b-wrapper h5 {
    font-size: 1.8em;
}
.skills ul li {
    margin: 0 0.5em;
}

.contact input[type="text"] {
    width: 100%;
    font-size: .9em;
   
}
.contact select {
		width: 100%;
    font-size: .9em;
    margin-left: 0;
}
.contact select option{				
		    width: 100%;
    font-size: .9em;

}
.contact textarea {  
    width: 100%;
    font-size: .9em;    
}
.contact input[type="submit"] {
}

.contact input.email {
  margin-left: 0;
}
}
@media(max-width:480px){
.cambio_idioma_menu {
	margin-left: -692px!important;
	margin-top: 10px;
}
.captn h4 {
	margin-top: -20px;
	
}
.navbar-default .navbar-toggle {	
	margin: 7px 0 0 204px;
}
.logo {	
	margin-left: 12em;
	width: 66px;
}
.top-nav-text {		
	margin-right: 0px!important;
	margin-left: -85px!important;			
}
.services-right {
	float: right;
	width: 70%;
	border: 1px solid #3c6fb7;
	border-left: none;
	padding: 1em;
	height: 115.5px;
}
.services-right h4 {
	font-size: 1.3em;	
}
.services-right p {
	font-size: 1em;	
}
.navbar-header h1 {
    font-size: 2.5em;
}
.navbar-header h1 a span {
    letter-spacing: 7px;
}
.navbar-header h1 a {
    padding: .2em 1em .3em;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.8em;
}
.banner-text h4 {
    margin: 1.3em 0;
    font-size: 1.1em;
}
.banner {
    min-height: 275px;
}
.banner-text {
    padding: 6em 0;
}
.callbacks_tabs li {
    margin: 0 .5em;
}
.callbacks_tabs {
    left: 31%;
}
.about, .team-info, .services, .skills {
    padding: 2em 0;
}
h3.title {
    font-size: 2.8em;
	margin-bottom: 0.5em;
}
h3.title:before {
    width: 45px;
    left: 44%;
}
.top-nav-text p {
    margin-left: 10em;
		font-size: 10px;
}
.team-grids {
    padding: 0 0.5em;
}
.captn-top {
    padding: 19% 6%;
}
.services-grids {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
}
.services-left {
    padding: 2.3em 0;
}
span.glyphicon {
    font-size: 2.5em;
}
.services-info.services-row2 {
    margin-top: 0;
}
.resp-tab-item {
    margin: 0 0.8em 0;
}
.portfolio-grids {
    width: 50%;
}
.b-wrapper h5 {
    padding: 46% 0;
}
.skills ul li {
    margin: 1em 2em 0;
}
.map iframe {
    min-height: 200px;
}
.navbar-nav {
    margin: 1em 0;
}
.about-text h4 {
    font-size: 1.2em;
    line-height: 1.5em;
}
}
@media(max-width:414px){
.cambio_idioma_menu {
	margin-left: -550px!important;
}
.modal-dialog {
	width: 380px;
}
	.navbar-default .navbar-toggle {
    position: absolute;
    margin: 7px 0 0 173px;
}
.logo {		
	margin-left: 10px;
	margin-top: 15px;
	width: 51px;
}
.top-nav-text {		
	margin-right: -15px!important;
	margin-left: -68px!important;				
}
.navbar-toggle {  	
	margin-right: -5px;
}
.services-right {	
	padding: 0.85em;
	height: 109px!important;
}
.services-right h4 {
	font-size: 1.3em;	
}
.services-right p {
	font-size: 1em;	
}
.top-nav-text p {
	margin-left: 72px;
	font-size: 9px;
}
div#bs-example-navbar-collapse-1 {
    width: 92%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    top: 3px;
    font-size: 1.3em;
}
.team-grids {
    padding: 0 0.2em;
	margin-top: 0.5em;
}
.captn-top {
    padding: 12% 6%;
}
h3.title {
    font-size: 2.5em;
}
.services-right h4 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
.services-right {
    width: 75%;
}
.services-left {
    padding: 2.1em 0;
	width: 25%;
}
.resp-tab-item {
    margin: 0 0.5em 0;
    font-size: 0.9em;
}
.map-right p {
    letter-spacing: 0;
}
.map-right {
    padding: 1em;
}
.footer {
    padding: 1.5em 0;
}
.callbacks_tabs a {
    height: 10px;
    width: 10px;
}
.callbacks_tabs a:after {
    width: 20px;
    height: 20px;
}
.navbar-toggle {
    padding: 7px 8px;
    margin: 0 auto;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.6em;
}
.banner-text h4 {
    font-size: 1em;
}
.more a {
    font-size: 1em;
    padding: 0.4em 2em;
		margin-top: 5px;
}
.banner {
    min-height: 225px;
}
.banner-text {
    padding: 4em 0;
}
.callbacks_tabs {
    left: 30%;
}
}
@media(max-width:375px){
.cambio_idioma_menu {
	margin-left: -486px!important;
}
.modal-dialog {
	width: 345px;
}
.navbar-nav li a {
	padding: 0px 5px;
}
.callbacks_tabs {
	left: 27.5%;
}
.navbar-default .navbar-toggle {	
	margin: 7px 0 0 155px;
}
.logo {		
	margin-left: 9em;
}
.top-nav-text {		
	margin-right: -27px!important;
	margin-left: -85px!important;			
}
.navbar-toggle {  		
	margin-right: 10px!important;
}
.services-right {	
	padding: 0.4em;
	height: 109px!important;
}
.services-right h4 {
	font-size: 1.1em;	
}
.services-right p {
	font-size: 1em;	
}
.top-nav-text p {
	margin-left: 100px;
	font-size: 8px;
}
p {
    font-size: 0.9em;
}
h3.title {
    font-size: 2.3em;
}
h3.title:before {
    width: 40px;
    left: 43%;
}
.about-text h4 {
	font-size: 1.3em;
	margin-bottom: 0.3em;
}
.about, .team-info, .services, .skills {
    padding: 1.5em 0;
}
.team-grids {
	padding: 0 3em;
	float: none;
	width: 100%;
	margin-top: 0em;
}
.captn-top {
    padding: 29% 6%;
}
span.glyphicon {
    font-size: 2em;
}
.services-right {
    width: 77%;
}
.services-left {
    width: 23%;
}
.b-wrapper h5 {
    padding: 40% 0;
}
.map-right h4 {
    font-size: 1.8em;    
    font-weight: 400;
}
.map-right p {
    margin: 0.5em 0 0.8em;
    font-size: 0.9em;
}
}
@media(max-width:320px){
.cabecera-contacto{
	font-size: 10px;
	margin-left: 65px;
}
.logo_waze {
	width: 7%;
}
.modal-dialog {
	width: 290px;
}
.navbar-default .navbar-toggle {
	margin: 7px 0 0 126px;
}
.logo {		
	margin-left: 8em;
	margin-top: 10px;
	width: 51px;
}
.top-nav-text {		
	margin-right: -14px!important;
	margin-left: -60px!important;			
	font-size: 0.75em;
}
.navbar-toggle {  	
	margin-right: -5px;
}
.services-right {	
	padding: 0.85em;
	height: 137.5px!important;
}
.services-right h4 {
	font-size: 1.2em;	
}
.services-right p {
	font-size: 1em;	
}
.navbar-header h1 {
    font-size: 1.8em;
}
.navbar-header h1 a span {
    letter-spacing: 6px;
    font-size: .4em;
}
.navbar-header h1 a {
    padding: .3em 1em;
}
.top-nav-text p {
	margin-left: 10em;
	font-size: 0.8em;
}
.top-nav-text {
    margin: 0.8em 0;
}
.navbar-toggle {
    margin: 7px 0;
}
.cl-effect-14 a {
    height: 40px;
}
.navbar-nav li a {
    font-size: 1em;
    padding: 11px 21px;
}
.sb-icon-search, .sb-search-submit, .sb-search.sb-search-open .sb-search-submit {
    padding: 5px 0.2em;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.5em;
}
.banner-text h4 {
    line-height: 1.5em;
    margin: 1em 0;
}
.more a {
    font-size: 0.9em;
    padding: 0.6em 2em;
}
.banner {
	min-height: 238px;
}
.callbacks_tabs {
	left: 24%;
}
h3.title {
    margin-bottom: 0.3em;
}
.about, .team-info, .services, .skills {
    padding: 1em 0;
}
.team-grids {
    padding: 0 1em;
}
.captn-top {
    padding: 31% 6%;
}
span.glyphicon {
    font-size: 1.6em;
}
.services-left {
    padding: 3.1em 0;
}
.contact input[type="submit"] {
    padding: 0.6em 4em;
    font-size: 0.9em;
}
.map iframe {
    min-height: 160px;
}
.map-right h4 {
    font-size: 1.6em;
}
}
/*--//responsive-design---*/
